body{
    position: relative;
}
.div{
    display: grid;
    justify-content: center;
    padding: 1rem;
    font-size: 4rem;
    margin-top: 17%;
}
.body{
    display: grid;
    justify-content: center;
    background-color: chartreuse;
    margin-bottom: 4rem;
}
.content{
    display: grid;
    justify-content: center;
    background-color: chocolate;
}
.btns{
    display:flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: bolder;
}
.inc:hover, .dec:hover{
    cursor: pointer;
    color: blue;
}
img{
    opacity: 0.5;
    position: absolute;
}